<div>
  <p class="m-0 text-center text-white">Copyright &copy; Kdamos? 2018	</p>
  <p class="m-0 text-center text-white">
    <a href="#{{currentPage}}" id="englishlink">{{i18n 'English'}}</a>
    <a href="#{{currentPage}}" id="spanishlink">{{i18n 'Spanish'}}</a>
  </p>
</div>
