<div>
  <div class="container" id="main">
    <h1 class="header" >{{i18n 'Votation'}}</h1>
    
    <div class="container" align="center">			
      <p><div class="divTable Tabla">
		<div class="divTableRow">
			<div class="divTableCell corner"></div>
			{{#each votes.[1]}}
				
				<div class="divTableCell d-none d-sm-table-cell" >{{this}}</div>
				
			{{/each}}
				<div class="divTableCell">Total</div>
			
		</div>
		{{#each votes}}
			
		<div class="divTableRow">
			<div class="divTableCell">{{this}}</div>
		</div>
		
		{{/each}}
	  </div></p>
    </div>
</div>